<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Workshop Coming August 12th, 2016: Portland, Oregon</h2>
                <p class="text-faded">Opportunity to learn how to market to Chinese consumers online.</p>
                <a href="http://events.r20.constantcontact.com/register/event?oeidk=a07ecup6x282f32ab30&llr=4vgbozbab" class="btn btn-default btn-xl page-scroll">Learn More!</a>
            </div>
        </div>
    </div>
</section>
