<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Why China?</h1>
                <p class="text-faded">Because brands not addressing China are quite possibly foregoing their largest organic growth opportunity.</p>
                <a href="#knowledge" class="btn btn-default btn-xl page-scroll">Learn More!</a>
            </div>
        </div>

    </div>
</section>
