<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your brand's journey into the Chinese marketplace?<br>
				Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
		</div>
	</div>
	<div class="container">
		<div class="row">				
			<div class="col-md-3 portfolio-item">
				<img style="-webkit-user-select: none;" class="img-responsive padding_0" src="img/mail-xxl.png" width="56" height="56">
				<p>{{ site.email }}<br>(503) 268-3200</p>
			</div>
			<div class="col-md-3 portfolio-item">
				<a href="https://twitter.com/{{ site.twitter_username }}">
				<img style="-webkit-user-select: none;" class="img-responsive padding_0" src="img/twitter-xxl.png" width="56" height="56" align="center">
				<p>{{ site.twitter_username }}</p><br>
				</a>
			</div>
			<div class="col-md-3 portfolio-item">
				<img style="-webkit-user-select: none;" class="img-responsive transparent_0" src="img/Home-American-icon.png" width="80" height="80" align="center">
				<p>1000 E. Port Marina Drive, Suite 101<br>Hood River, Oregon USA 97031</p>
			</div>
			<div class="col-md-3 portfolio-item">
				<img style="-webkit-user-select: none;" class="img-responsive transparent_0" src="img/Home-Chinese-icon.png" width="80" height="80" align="center">
				<p>Room 706, 1142 Kong Jiang Road,<br> Yangpu District, <br>Shanghai, 200093, China</p>
			</div>
		</div>
	</div>
</section>
