
<section class="no-padding" id="digital-china">
    <div class="container">
        <div class="row" id="digital-china">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Chinese Digital Consumers</h1>
				<h2 class="section-heading">Cross-Border Online Commerce with China Will Reach $1 Trillion in 2016<br>
				Here's an action plan for your business to get your piece of the pie</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Attend the full-day "Chinese Digital Consumers Workshop"</h2>
                <hr class="primary">
                <h3>When:</h3><br>
				<p>Friday, August 12, 2016 9:30 am - 4:30 pm</p>
				<h3>Where:</h3><br>
				<p>Northwest China Council<br>
				221 NW 2nd Ave; Bamboo Room, Portland, OR 97209</p>
				<h3>Who should attend?</h3><br>
				<p>Business owners, marketers, consultants, digital strategists, exporters and anyone who’s interested in China’s contemporary consumer market.</p> 
				<h3>What will you gain?</h3><br>
				<p>An in-depth understanding of the opportunity and risks as well as a solid basis to form and carry out a strategy aimed at tapping the World’s largest consumer market.</p>
                <hr class="primary">
            </div>
		</div>
	    <div class="row">
            <div class="col-lg-12 text-center">
				<h2 class="section-heading">Register Early to Get Your Seat</h2>
				<a href="http://events.constantcontact.com/register/event?llr=4vgbozbab&oeidk=a07ecup6x282f32ab30" class="btn btn-primary btn-xl page-scroll btn-services">Click Here To Register</a>

                <hr class="primary">
				<br>
				<p>Link goes to Northwest China Council's Registration Page</p>
            </div>
        </div>
		<p>Sponsored by:</p>
		<div class="row">	
			<div class="col-md-3 portfolio-item">
				<a href="http://nwchina.org/">
				<img style="-webkit-user-select: none;" class="img-responsive padding_0" src="{{ base.url }}/img/nw_china_logo.jpg" width="156" height="156" align="center">
				</a>
			</div>
			<div class="col-md-3 portfolio-item">
				<a href="https://www.cnify.com">
				<img style="-webkit-user-select: none;" class="img-responsive padding_0" src="{{ base.url }}/img/CNifyLogo.png" width="156" height="156" align="center">
				</a>
			</div>
			<div class="col-md-3 portfolio-item">

			</div>
			<div class="col-md-3 portfolio-item">

			</div>
		</div>
	</div>
	</div>