<section id="knowledge">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Did you know...?</h2>
                <hr class="primary">
            </div>
        </div>
	</div>
    <div class="container">
		<div class="row">				
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/china_400b_spent.png" alt="400 billion spent by Chinese consumers online">
			</div>
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/china_550_mobile.png" alt="550 million use mobile phones to access the web">
			</div>
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/china_140b_tourism.png" alt="140 billion spent overseas by Chinese tourists, world's biggest spenders">
			</div>
			<div class="col-md-3 portfolio-item">
				<img class="img-responsive" src="img/china_usa_destination.png" alt="the us is the only top-10 long-haul destination for Chinese outbound travelers">
			</div>
		</div>
	</div>
    <div class="container">		
		<div class="row">
			<div class="col-lg-12 text-center">
					<a href="#services" class="btn btn-primary btn-xl page-scroll btn-services">How We Can Help</a>
				<hr class="primary">
			</div>
		</div>
	</div>
 </section>
