<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Some Examples of Our Work</h2>
                <hr class="primary">
            </div>
        </div>
	</div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Printed Brochure
                            </div>
                            <div class="project-name">
                                Let us profile your business for a Chinese audience and get it in print. We utilize professional writing, design and printing resources to enable your brand to stand out.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Media Platforms
                            </div>
                            <div class="project-name">
                                When it comes to navigating China's digital landscape, it pays to work with experts who make it their passion and living day in and day out. We have many examples of establishing and building brand presence on China's social media.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chinese Customers
                            </div>
                            <div class="project-name">
                                Is your business ready?<br> While it is not realistic to expect all your customer facing staff to speak Mandarin, we have ways that can help ease communication and improve the customer experience. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deploy Your Brand
                            </div>
                            <div class="project-name">
                                Don't get hung up on the barriers towards accessing China. We have cost-effective solutions to place your brand on the Chinese internet. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
