<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">				
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/cnify_wechat.png" alt="WeChat, the platform with over 650 Million active users">
				<h3>WeChat</h3>
				<p>WeChat is China's most used social media platform, with over 650 Million active users. Let us show you the ins and outs of this platform to reach out to your target audience in China.</p>
			</div>
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/cnify_translate.png" alt="CNify translation and localization to Chinese">		
				<h3>Translation and Localization</h3>
				<p>We do much more than just translate information into Chinese. We make it resonate with targeted audiences by using native speakers with fluent knowledge of our clients and their brands.</p>
			</div>
			<div class="col-md-3 portfolio-item rgt-border">
				<img class="img-responsive" src="img/cnify_qr.png" alt="Use QR codes to communicate to your Chinese customers">			
				<h3>Deploy Content</h3>
				<p>Does China's great firewall have your brand locked out? We offer efficient low-cost options for brands to access China online with relative ease.</p>
			</div>
			<div class="col-md-3 portfolio-item">
				<img class="img-responsive" src="img/cnify_brochure.png" alt="A professional looking brochure in Chinese for your brand">			
				<h3>Professional Brochure</h3>
				<p>We offer a turn-key solution for producing your brand's content in print at very competitive costs.</p>
			</div>
		</div>	
		<hr class="primary">
	</div>
</section>
